.LoginForm {
  width: 300px;
  margin: 0 auto;
}

.LoginForm div {
  margin-bottom: 10px;
}

.LoginForm input,
.LoginForm button {
  border-radius: 8px;
  width: 150px;
}

.LoginForm input {
  border: 1px solid #ccc;
}

.LoginForm button {
  background-color: #333;
  color: white;
}
